.form-area{
  width: 400px;
  margin-left: 80px;
  margin-right: auto;
  margin-top: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px;
  position: fixed;
}
.form-area p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color: black ;
}   
.form-area table {
    top: 75%;
}
.form-area input{
    margin-bottom: 10px;
    width: 100%;
}
.form-area input[type=text],
.form-area input[type=number],
.form-area input[type=date]{
    border:none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: black;
    display: 16px;
    size: unset;
}
.form-area input[type=text]:hover,
.form-area input[type=number]:hover,
.form-area input[type=date]:hover{
    color:#ce9654;
}
.form-area input[type=submit] {
    border:none;
    height: 40px;
    outline: none;
    color: white;
    font-size: 15px;
    background-color: #ce9654;
    cursor:pointer;
    border-radius: 20px;
    padding-left: 20px;
    text-align: center; 
}
.form-area input[type=submit]:hover{
    background-color: #F0B77D;
    color: #ce9654; 
    font-weight: 400;
    background: #F0B77D;
}
.form-area a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.form-area table{
    text-align: center;
    position: static;
    padding-top: 1px;
    width: 150px;
}
.checkbox {
    display: none;
    cursor: pointer;
    padding-left: 100px;
}
.checkbox + label::before {
    cursor: pointer;
    content:  none ;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    margin-right: 5px;
    border: 2px solid grey;
    margin-bottom: -3px;
    background-color: white;
}
.checkbox:checked + label::after {
    color: #67EB9F; 
    content: '\2713\0020';
    position: absolute;     
    cursor: pointer;               
}
.checkbox:checked + label {
    cursor:pointer;
    color: #67EB9F; 
    content: '\2713\0020'; 
}
.checkbox:checked + label ::before {
    cursor:pointer;
    background: white;
}
.checkbox:hover + label{
    color:#ce9654;
}
.form-area spam{
    font-size: 30px;
    text-align: right;
    font-family: 'Open Sans';
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 25px;
    padding-top: 10px;    
    padding-bottom: 0px;
    color: black;
}
.qtde {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color:white;
    line-height: 2;
    width: 50px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    appearance: none;
    background-color: transparent;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    overflow: hidden;
}
.qtde::-ms-expand {
    display: none;
}
.qtde:hover {
    border-color:#ce9654;
}
.qtde:focus {
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color:white; 
    outline: none;  
}
.qtde option {
    font-weight:normal;
    background-color: #2c2c2c; 
}
select .qtde {
    overflow-y: auto;
}
.cont{
    padding-left: 35%;
    width: 30px; 
 }
 .form-area4{
    position: fixed;
    top: 178px;
    right: 63%;
    width: 10%;
    box-sizing: border-box;
    padding-left:  1px;
    padding-right: 1px; 
    text-align: center;             
}
.tabeladisp2{
    height: 10px;
    top: 75%;
    left: 50%;
    text-align: center;
    color: green;
    background-color:#ce9654;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border-radius: 25px;
}
.form-area5{
    position: fixed;
    top: 246px;
    right: 70%;
    width: 10%;
    box-sizing: border-box;
    padding-left:  1px;
    padding-right: 1px; 
    text-align: center;      
}
.form-area5 input[type=number]{
    height: 9px;
    width: 30px;
    text-align: center;
    margin-bottom: -30px; 
} 
.form-area5 select{
    margin: 0;
    height: 20px;
}
.form-area5 select {
    text-align: center ;
}
.select select{
    margin-top: 15px;
    padding: 10px;
}

.select-css {
    display: grid;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color:white;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em; 
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    appearance: none;
    background-color: transparent;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    overflow: hidden;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color:#ce9654;
}
.select-css:focus {
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color:white; 
    outline: none;    
}
.select option {
    font-weight:normal;
    background-color: #2c2c2c; 
}
select .select-css {
    overflow-y:auto;

}
.chek {
    padding-right: 310px;

}
