.form-area1{
    position: fixed;
    top: 54%;
    left: 74%;
    transform: translate(-50%,-50%);
    width: 680px;
    height: 600px;
    box-sizing: border-box;
    background:rgba(51, 50, 50, 0.452);
    text-align: center;     
    overflow: auto;  
}
.form-area1 input[type=submit] {
    bottom: 10px;
    right: 40px;
    border: none;
    height: 35px;
    width: 90px;
    outline: none;
    color: #ffffff;
    font-size: 15px;
    background-color: transparent;
    background-image: linear-gradient(90deg, transparent,tomato);
    cursor:pointer;
    border-radius: 20px;
}
.form-area1 input[type=submit]:hover{
    background-color: #F0B77D;
    color: #ffffff;  
}
.form-area1 spam{
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 0px;
    padding-top: 10px;    
    padding-bottom: 0px;
    color: white;
}
.form-area1 table {
    width: 680px;
    padding-left: 0px;
    table-layout: auto;
    white-space: nowrap;
}

.tabela{
    height: 20px;
    width: 10px;
    text-align: center;
    color: whitesmoke;
    background-color:tomato;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 400;
} 
.professor {
    text-align: left;
} 
.tabeladisp{
    height: auto;
    width: auto;
    text-align: center;
    color: whitesmoke;
    background-color:#ce9654;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    left: 4px;
    border-radius: 25px;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: tomato;
}