* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;
}
body {
    background-image: url(https://image.freepik.com/free-photo/_1339-99704.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
/*   #sigup {
    width: 500px;
    margin-left: 410px;
    padding-top: 10px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
  }
 */
  #inputsigup{
    background: #ce9654;
    padding: 13px 54px;
    border-radius: 23px;
    color: #fff;
    text-decoration: none;
    border: none;
  }
  #inputsigup:hover {
    opacity: 0.5;
    background-image: linear-gradient(grey, #ce9654);
  }
  input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
  }
  input, label {
    display: block;
    outline: none;
    width: 100%;
}

/* form */
#loginUser {
  width: 500px;
  margin-left: 100px;
  margin-right: auto;
  background-color: #FFF;
  border-radius: 10px;
  padding: 25px;
  position: absolute;
}
#loginAdm {
  width: 500px;
  margin-left: 100px;
  margin-right: 300px;
  margin-bottom: 10px;
  background-color: #FFF;
  border-radius: 10px;
  margin-top: 90px;
  padding: 25px;
  position: absolute;
}
#cartao{
  width: 400px;
  margin-left: 750px;
  margin-right: 300px;
  background-color: #FFF;
  border-radius: 10px;
  padding: 25px;
  position: relative;
  font-family: Helvetica, sans-serif;
  color: #323232;
}

h2 {
  color: #fff;
}

#voltar {
  float: right;
  color: #fff;
}