body {
  background-image: url(https://image.freepik.com/free-photo/_1339-99704.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#logoff {
  float: right;
  float: right;
  color: #fff;
  background: transparent;
  border: none;
  font-size: 18px;
}
#logoff:hover {
  text-decoration: underline;
}
.tabela {
  width: 50px;
    text-align-last: center;
    /* color: rgb(5, 5, 5); */
    background-color: #b1722b;
    color: #ffffff;
    font-weight: 1000;
    border-right-color: rgb(5, 5, 5);
    align-items: initial;
}
.divCrud {
  width: 600px;
  margin-left: 100px;
  margin-top: 80px;
  margin-right: auto;
  background-color: #FFF;
  border-radius: 10px;
  padding: 25px;
  position: absolute;
  min-height: 200px;
}
td {
  padding: 5px 27px 5px 47px;
}

#excluir {
  border: none;
  color: red;
  font-size: 20px;
}

#editar {
  color: rgb(78, 34, 238);
}

#cadastrar{
  background: #ce9654;
  padding: 13px 54px;
  border-radius: 23px;
  color: #fff;
  text-decoration: none;
}
#cadastrar:hover {
  opacity: 0.5;
  background-image: linear-gradient(grey, #ce9654);
}
p {
  color: #fff;
  font-size: 20px;
}

