.form-area {
    position: fixed;
    overflow:auto; 
    font-size: 16px;
    top: 54%;
    right: 30%;
    transform: translate(-50%,-50%);
    width: 630px;
    height: 550px;
    box-sizing: border-box;
    background:#ce9654;
    text-align: center;
    text-transform: capitalize;
}  
.form-area table {
    width: 630px;
    padding-right: 0px;
    padding-left: 0px;
    white-space: nowrap;
} 
.form1-area table {
    width: 630px;
    padding-right: 0px;
    padding-left: 0px;
    white-space: nowrap;
}          
.form-area p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color: #ffffff ;
}
.form-area input,select {
    margin-bottom: 10px;
    width: 100%;
}
.form-area iframe{
    color: #ce9654;
}
.form-area input[type=text],
.form-area input[type=number],
.form-area input[type=date]{
    border:none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    height: 60px;
    font-size: 16px;
    color: #ffffff;
    display: 16px;
    text-transform: capitalize;
}
.form-area spam{
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 0px;
    padding-top: 10px;    
    padding-bottom: 0px;
    /* opacity: 0.60; */
    color: white;
}
.form1-area spam {
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 0px;
    padding-top: 10px;    
    padding-bottom: 0px;
    /* opacity: 0.60; */
    color: white;
}
.divCrud{
    width: 500px;
    margin-left: 100px;
    margin-top: 80px;
    margin-right: auto;
    background-color: #FFF;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
    min-height: 500px;
}
.divedit{
    position: relative;
    border-spacing: 0px;
    width: 500px;
    height: auto;
    font-weight: 100;
    margin-top: 100px;
}
.column{
    height: 10;
    padding: 0%;
}
.tabela{
    width: 110px;
    text-align-last: center;
    color: whitesmoke;
    background-color:#ce9654;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 400;
    
}

.tabela22{
    width: 120px;
    text-align-last: center;
    color: whitesmoke;
    border: 50px;
    background-color:#d3d3d3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 400;
    
}

.tabela52{
    width: 50px;
    text-align-last: center;
    color: rgb(5, 5, 5);
    background-color:#b1722b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 1000;
    border-right-color: rgb(5, 5, 5);
    align-items: initial;
    border: 5;
    cursor: hand;
}
input[type=submit] {
    background-color: #ce9654;
    color: #FFF;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    text-align: center;
  }

.button{
    width: 50px;
    text-align-last: center;
    color: rgb(5, 5, 5);
    background-color:#b1722b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 1000;
    border-right-color: rgb(5, 5, 5);
    align-items: initial;
    border: 0;
}
body{
    margin: 0px;
    padding: 0px;
    background:url("F.jpg")no-repeat;
    -webkit-background-size: cover;
    text-align: left;
    background-size: cover;
    background-position: fixed;
    font-size: 15px;
    padding-left: 60px;
    padding-top: 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h2 {
    margin: 1 px;
    padding: 0 0 20px;
    font-weight: bold;
    color: #ffffff;
}