.form-area {
    position: fixed;
    overflow:auto; 
    font-size: 16px;
    top: 54%;
    right: 30%;
    transform: translate(-50%,-50%);
    width: 630px;
    height: 550px;
    box-sizing: border-box;
    background:#FFFFFF;
    text-align: center;
    text-transform: capitalize;
}  
.form-area table {
    width: 630px;
    padding-right: 0px;
    padding-left: 0px;
    white-space: nowrap;
} 
.form1-area table {
    width: 630px;
    padding-right: 0px;
    padding-left: 0px;
    white-space: nowrap;
}          
.form-area p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color: #ffffff ;
}
.form-area input,select {
    margin-bottom: 10px;
    width: 100%;
}
.form-area iframe{
    color: #ce9654;
}
.form-area input[type=text],
.form-area input[type=number],
.form-area input[type=date]{
    border:none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    height: 60px;
    font-size: 16px;
    color: #ffffff;
    display: 16px;
    text-transform: capitalize;
}
.form-area spam{
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 0px;
    padding-top: 10px;    
    padding-bottom: 0px;
    /* opacity: 0.60; */
    color: white;
}
.form1-area spam {
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 0px;
    padding-top: 10px;    
    padding-bottom: 0px;
    /* opacity: 0.60; */
    color: white;
}
.tabela{
    width: 110px;
    text-align-last: center;
    color: whitesmoke;
    background-color:#ce9654;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 400;
    
}